body {
  background-image: url('/background.gif');
  background-repeat: repeat;
  background-attachment: fixed;
  color: white;
  margin: 0; 
  padding: 0;
}

/* font */
body {
  font-family: Arial, sans-serif;
  font-size: 36px;
}

/* headings */
h1, h2, h3, h4, h5, h6 {
  font-weight: bold;
  letter-spacing: 1px;
  text-align: center;
}

/* links */
a {
  color: #007bff;
  text-decoration: none;
  display: block;
}

/* buttons */
button {
  background-color: #007bff;
  color: #fff;
  padding: 10px 15px;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}

/* image class */
img {
  max-width: 100%;
  height: auto;
}

.game-img {
  width: 150px;
  height: 150px;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  text-align: center;
}

.gcontainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.row {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.col {
    flex: 0 0 auto;
    width: 30%;
    margin: 0 auto;
    text-align: center;
}

.rounded {
    border-radius: 15px;
}

/* fix for nav text alignment */
nav {
  width: 100%;
  text-align: center;
}

.small-text {
  font-size: 28px;
}

.green-text {
  color: #329485;
}

.light-blue-text {
  color: #327894;
}
