body {
  background-color: #100021;
  color: rgb(227, 224, 255);
  margin: 0; 
  padding: 0;
}

/* font */
body {
  font-family: 'Manrope', sans-serif;
  font-size: 36px;
}

/* headings */
h1, h2, h3, h4, h5, h6 {
  font-weight: bold;
  letter-spacing: 1px;
  text-align: center;
}

/* links */
a { 
  color: #521ce7;
  text-decoration: none;
  display: block;
}

/* buttons */
button {
  color: #fff;
  padding: 10px 15px;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}

.grow {
  transition: transform 0.2s;
  transform: scale(1);
}

.grow:hover {
  transform: scale(1.15);
}

.gamegrow {
  transition: transform 0.2s;
  transform: scale(1);
}

.gamegrow:hover {
  transform: scale(1.08);
}

/* image class */
img {
  max-width: 100%;
  height: auto;
}

.game-img {
  width: 200px;
  height: 200px;
  display: block;
  margin: 0 auto;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  text-align: center;
}

.gcontainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.row {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  height: 350rem;
}

.col {
  flex: 1 1 auto;
  width: 25%; 
  min-width: 25%;
  text-align: center;
}

@media (max-width: 1200px) {
  .col {
    width: calc(100% / 2); /* Adjust width for smaller screens */
  }
}

@media (max-width: 768px) {
  .col {
    width: 100%; /* Full width for smaller devices */
  }
}

.rounded {
  border-radius: 15px;
}

/* fix for nav text alignment */
nav {
  width: 100%;
  text-align: center;
}

nav button {
  margin: 0 10px;
}

.small-text {
  font-size: 28px;
}

.smaller-text {
  font-size: 16px;
  font-size: 20px;
}

.green-text {
  color: #329485;
}

.light-blue-text {
  color: #327894;
}

.lighter-blue-text {  
  color: #417cc4;
}

.centered {  
  text-align: center;
}

.line {  
  text-align: center;
}

.category-container {
  margin-bottom: 30px;
}

.category-title {
  font-size: 24px;
  margin-bottom: 15px;
}

.movies-list {
display: flex;
overflow-x: auto; /* Enable horizontal scrolling */
padding-bottom: 15px;
width: 100%; /* Set a fixed width for the container */
}

.movie-item {
cursor: pointer;
min-width: 120px; /* Adjust as needed */
max-width: 120px;
border-radius: 10px;
margin: 10px;
overflow: hidden;
display: inline-block;
transition: transform 0.2s;
}

.movie-item:hover {
transform: scale(1.1);
}

.movie-item img {
max-width: 100%;
height: auto;
border-radius: 10px;
}

/* GRADIEIENT BACKGROUND 

.box:before {
    content: "";
    z-index: -1;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: linear-gradient(-45deg, #f8acff 0%, #696eff 100% );
    transform: translate3d(0px, 20px, 0) scale(0.95);
    filter: blur(20px);
    opacity: var(0.7);
    transition: opacity 0.3s;
    border-radius: inherit;
}

.box::after {
    content: "";
    z-index: -1;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: inherit;
    border-radius: inherit;
}
 */        
 
  
  /*body {
      padding: 0;
      margin: 0;
      height: 100vh;
      width: 100%;
      background: #100021;
  }
  form{
      position: relative;
      top: 50%;
      left: 50%;
      transform: translate(-50%,-50%);
      transition: all 1s;
      width: 50px;
      height: 50px;
      background: white;
      box-sizing: border-box;
      border-radius: 25px;
      border: 4px solid white;
      padding: 5px;
  }
  input{
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;;
      height: 42.5px;
      line-height: 30px;
      outline: 0;
      border: 0;
      display: none;
      font-size: 1em;
      border-radius: 20px;
      padding: 0 20px;
  }
  .fa{
      box-sizing: border-box;
      padding: 10px;
      width: 42.5px;
      height: 42.5px;
      position: absolute;
      top: 0;
      right: 0;
      border-radius: 50%;
      color: #07051a;
      text-align: center;
      font-size: 1.2em;
      transition: all 1s;
  }
  form:hover{
      width: 300px;
      cursor: pointer;
  }
  form:hover input{
      display: block;
  }
  form:hover .fa{
      background: #07051a;
      color: white;
  }
  * {
    margin: 0;
    padding: 0;
    font-family: montserrat, sans-serif;
    box-sizing: border-box;
  }
  .button-container {
    display: flex;
    width: 100%;
    min-height: 100vh;
    justify-content: center;
    align-items: center;
  }
  .button {
    appearance: none;
    background: none;
    border: none;
    outline: none;
    padding: 20px 40px;
    border-radius: 8px;
    color: #212121;
    font-size: 28px;
    font-weight: 600;
    margin: 0 15px;
    cursor: pointer;
    transition: 0.4s;
  }
.button {
    position: relative;
  }
  .button:after {
    content: '';
    position: absolute;
    width: 0;
    height: 0;
    bottom: 0;
    right: 0;
    border-bottom: 3px solid #212121;
    border-right: 3px solid #212121;
    transition: all 0.4s, opacity 0.1s 0.4s;
    opacity: 0;
  }
  .button:before {
    content: '';
    position: absolute;
    width: 0;
    height: 0;
    top: 0;
    left: 0;
    border-top: 3px solid #212121;
    border-left: 3px solid #212121;
    transition: all 0.4s, opacity 0.1s 0.4s;
    opacity: 0;
  }
  .button:hover:after, .button:hover:before {
    width: calc(100% + 15px);
    height: calc(100% + 15px);
    transition: all 0.4s, opacity 0.1s;
    opacity: 1;
  }
  * {
    margin: 0;
    padding: 0;
    font-family: montserrat, sans-serif;
    box-sizing: border-box;
  }
  .button-container {
    display: flex;
    width: 100%;
    min-height: 100vh;
    justify-content: center;
    align-items: center;
  }
  .button {
    appearance: none;
    background: none;
    border: none;
    outline: none;
    padding: 20px 40px;
    border-radius: 8px;
    color: #212121;
    font-size: 28px;
    font-weight: 600;
    margin: 0 15px;
    cursor: pointer;
    transition: 0.4s;
  }
 
  .button {
    position: relative;
  }
  .button:after {
    content: '';
    position: absolute;
    width: 0;
    height: 0;
    bottom: 0;
    right: 0;
    border-bottom: 3px solid #212121;
    border-right: 3px solid #212121;
    transition: all 0.4s, opacity 0.1s 0.4s;
    opacity: 0;
  }
  .button:before {
    content: '';
    position: absolute;
    width: 0;
    height: 0;
    top: 0;
    left: 0;
    border-top: 3px solid #212121;
    border-left: 3px solid #212121;
    transition: all 0.4s, opacity 0.1s 0.4s;
    opacity: 0;
  }
  .button:hover:after, .button:hover:before {
    width: calc(100% + 15px);
    height: calc(100% + 15px);
    transition: all 0.4s, opacity 0.1s;
    opacity: 1;
  }
*/
