@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');

.search-container {
    background: none;
    height: 70px;
    border-radius: 50px;
    border: 4px solid rgb(52, 6, 128);
    padding: 15px 30px;
    max-width: 25%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    box-sizing: border-box;
    transition: 0.5s;
}

.search-container:hover > .search-input {
    width: 100%;
}

.search-container .search-input {
    background: transparent;
    border: none;
    outline:none;
    width: 0px;
    font-size: 26px;
    color: #7f7bf2;
    font-family: 'Roboto Mono', monospace;
    transition: 0.5s;
}

.search-container .search-btn .fas {
    color: #7f7bf2;
    font-size: 26px;
}

.search-container:hover {
    border-radius: 10px;
    background: #190233;
    max-width: 50%;
}
