@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto Mono', monospace;
}

body {
    background: #100021;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh 
}

form {
    position: relative;
    box-shadow: 0px 32px 40px -19px rgba(0,0,0,0.25);
}
 
input {
    outline: none;
    border: none;
    border-radius: 30px;
    padding: 1rem 2rem;
    width: 0;
    background: rgb(52, 6, 128);
    color: rgb(99, 141, 255);
    transition: width .5s;
}

i {
    position: absolute;
    left: 1.5rem;
    top: 50%;
    transform: translateY(-50%);
    font-size: 1.25rem;
    color: #7f7bf2;
}

form:hover input {
    width: 500px;
}
